{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>Добро пожаловать!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Amet beatae commodi consequuntur delectus dolorem enim eos, est et ex exercitationem explicabo fugiat in incidunt
        ipsum laboriosam maiores nisi non nostrum perspiciatis quam quidem recusandae repellat sequi totam veniam veritatis, voluptatibus!
        Accusantium aliquam aspernatur in laboriosam laborum libero, similique tempore vel.</p>
{% endblock %}


